<mat-divider></mat-divider>
<app-population [controlsComponent]="controlsComponent"></app-population>
<mat-divider></mat-divider>
<app-size [controlsComponent]="controlsComponent"></app-size>
<mat-divider></mat-divider>
<p>Delay: {{delay}}ms.</p>
<mat-slider 
  min="100" 
  max="2000" 
  step="50" 
  thumbLabel
  color="accent"
  tickInterval="1"
  [(value)]="delay"
  (change)="updateSpeed()">
</mat-slider>
<mat-divider></mat-divider>
<button 
  mat-flat-button 
  color="warn" 
  (click)="setDefaults()" 
  [disabled]="!this.isPaused()">
  Defaults
</button>
<mat-divider></mat-divider>