<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Controls</mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <app-controls 
        mat-list-item
        #controlsComponent 
        [boardComponent]="boardComponent" 
        [infoBarComponent]="infoBarComponent"
        (disableOptions)="onDisableOptionsRequest($event)">
      </app-controls>
      <app-options 
        mat-list-item
        #optionsComponent
        [controlsComponent]="controlsComponent">
      </app-options>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>angularLife</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <app-info-bar #infoBarComponent></app-info-bar>
    <app-board #boardComponent></app-board>
  </mat-sidenav-content>
</mat-sidenav-container>
