<mat-toolbar>
  <mat-toolbar-row>
    paused = {{isPaused()}}
    &nbsp;
    turn = {{board.getTurn()}}
    &nbsp;
    totalPopulation = {{board.getCurrentPopulation()}}
  </mat-toolbar-row>
</mat-toolbar>

<div class="grid-container">
  <div *ngFor="let x of layout; trackBy: trackByFn">
    <div *ngFor="let y of x; trackBy: trackByFn" class="grid-item">
      <div *ngIf="y===1" class="cell"></div>
      <div *ngIf="y===0"></div>
    </div>
  </div>
</div>

<button mat-flat-button color="primary" (click)="nextTurn()">Next</button>
<button mat-flat-button color="primary" [disabled]="!isPaused()" (click)="play()">Play</button>
<button mat-flat-button color="accent" [disabled]="isPaused()" (click)="pause()">Pause</button>
<button mat-flat-button color="warn" (click)="reset()">Reset</button>